/*======GENERAL======*/

body{
    overflow-x: hidden;
}

#wrapper {              /*Anim menu*/
    transition: all 0.5s ease;
}

#wrapper.toggled {       /*Décalage page pdt ouverture du menu*/
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/*Responsive wrapper pendant ouverture menu*/

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
       
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*=====SIDEBAR=======*/

/*ICON*/

#btn-nav{
    width: 2rem;
    position: fixed;
    margin-top: 1rem;
    margin-left: 1rem;
    z-index: 1000;
}

/*SIDEBAR*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
}

.sidebar-nav li{
    text-align: center;
    font-family: "Montserrat", sans-serif ;
    margin-top: 2rem;
    font-size: 1.3rem;
}

#menu-title{
    font-family: "Montserrat", sans-serif ;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

/*=======HEADER=========*/

#header{
    height: 100vh;
    background-image: url(img/header.png);
    background-repeat: no-repeat;
}
#div-head{
    color: white;
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.9;
    height: 100%;
}

#title-head{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    padding-top: 1rem;
    border-bottom: 4px solid #000;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    max-height: fit-content;
}

#reserv{
    position: absolute;
    right: 4rem;
    top: 2rem;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}

a{
    color: #fff;
}

a:hover{
    color: #fff;
}

#reserv:hover{
    transition-duration: 0.5s;
    background-color: #000;
}

mark{
    background-color: #000;
    color: #fff;
    position:relative;
    z-index: -1;
}

#slogan{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 110px;
    letter-spacing: -3px;
    line-height: 1em;
    margin-top: 15rem;
    margin-left: 20rem;
        
}

#block-pres{
    position: absolute;
    right: 15rem;
}

#event{
    margin-top: 3rem;
    background-color: #000;
    max-width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
}

#presentation{
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    max-width: 50rem;
}

#arrow{
    position: relative;
    width: 3rem;
    bottom: 4rem;
    left: 49%;
}

/*=========MOVIE===========*/

#movie{
    height: 100vh;
    background-image: url(img/scared.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#div-movie{
    color: white;
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.95;
    height: 100%;
}

#block-movie{
    padding-top: 6rem;
}

#title-movie{
    background-color: #000;
    max-width: fit-content;
    padding: 0.5rem;
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 5rem;
}

#info-movie{
    background-color: #000;
    max-width: fit-content;
    font-family: "Montserrat", sans-serif;
    padding: 0.3rem;
    float: right;
    margin-top: -10rem;
    margin-right: 2rem;

}

#selection{
    background-color: #000;
    max-width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 9rem;
    margin-left: 45rem;
}

#txt-movie{
     font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    max-width: 50rem;
    text-align: right;
    margin-left: 10rem;
    margin-top: 1rem;
}

#movie-img{
    width: 40rem;
    margin-left: 29%;
    margin-top: 7rem;
}

#movie-img:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}

#progra{
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 10rem;
    display: inline-block;
    margin-left: 25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#progra:hover{
    background-color: #000;
    max-width: fit-content;
    
}

#calendar{
    width: 2rem;
}

/*========ACTU========*/

#actu{
    height:100vh;
    background-image: url(img/fond-rotonde-a-colonnes-parc-monceau-1920x1070.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#div-actu{
    color: white;
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.97;
    height: 100%;
}

#title-actu{
    background-color: #000;
    max-width: fit-content;
    padding: 0.5rem;
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}

#block-title-actu{
    padding-top: 2rem;
}

#row-actu{
    height: 30%;
    margin-top: 8rem;
    color: #000;
}


.block-article{
    background-color: #000;
    background-size: cover;
    color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(img/scared.jpg);
    opacity: 1;
    background-size: cover;
    min-height: 100%;
}

.block-article h3{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    font-size: 2.5rem;
    text-align: center;
}

.extrait-art{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
}

.block-article a{
    text-decoration: none;
    background-color: #fff;
    color: #000;
    padding: 0.4rem;
    font-weight: 500;
}

.btn-art{
    text-align: center;
    margin-top: 2rem;
}

.block-article:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}

.art-img{
    background-color: #000;
    opacity: 0.8;
    min-height: 100%;
}

#plus{
    width: 2rem;
}

#div-plus-art{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 15rem
}
/*=====CONTACT=======*/

#contact{
    height: 100vh;
}

#div-contact{
    color: white;
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.97;
    height: 100%;
}

#title-contact{
    background-color: #000;
    max-width: fit-content;
    padding: 0.5rem;
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 10rem;
}

#block-contact{
    padding-top: 5rem;
}

form{
    background-color: #000;
    padding: 3rem;
    margin-top: 2rem;
}

.btn-send{
    color:#000;
    background-color: #fff;
    border-radius: 0px;
    border-color: #fff;
    margin-top: 2rem;
    padding: 0.5rem;
    margin-left: 40%;
    
}

.btn-send:hover{
    background: #34e89e;  
    color: #fff;
    border-color: #34e89e;
}

#envoi{
    margin-bottom: 0rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.1rem;
}

.form-control{
    border-radius: 0px;
}

#txt-contact{
    font-size: 1.8rem;
    margin-top: 12rem;
    margin-left: 15rem;
}

#foot-link{
    position: absolute;
    width: fit-content;
    bottom: 1rem;
}

#foot-link a{
    margin-right: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#foot-link a:hover{
    background-color: #000;
    text-decoration: none;
}





/*====== PROGRA ==========*/

#prog-content{
    font-family: "Montserrat", sans-serif;
}

#div-progra{
    color: white;
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.97;
    min-height: 100%;
}

#back{
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}

#back:hover{
    transition-duration: 0.5s;
    background-color: #000;"
}

#txt-progra{
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-right: 5rem;
    text-align: center;
}

#div-txt{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.day{
    background-color: #000;
    font-size: 4rem;
    font-weight: 700;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: 5rem; 
    z-index: 10;
    max-height: fit-content;
    margin-top: 2rem;
}

.prog-img{
    width: 30rem;
}

.div-img{
    text-align: center;
}

.row-prog{
    height: 100%;
}



.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    height: auto;
    width: 30rem;
    opacity: 0;
    transition: .5s ease;
    background: #000;
}

.div-img:hover .overlay{
    opacity: 0.9;
}

.txt-overlay {
  
}

.container-overlay{
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.time-overlay{
    margin-top: 1rem;
    font-size: 1.5rem;
}

.syno-overlay{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.syno-txt{
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.txt-overlay a{
    color:#000;
    background-color: #fff;
    border-radius: 0px;
    border-color: #fff;
    margin-top: 5rem;
    padding: 0.5rem;
    font-size: 1.4rem;
}

.txt-overlay a:hover{
    background: #34e89e;  
    color: #fff;
    border-color: #34e89e;
}
/*======RESERVATION=========*/

#reserv-content{
    font-family: "Montserrat", sans-serif;
}

#div-reserv{
    color: white;
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.97;
    min-height: 100%;
}

#box-reserv{
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

#box-reserv h2{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: -1rem;
}

.form-check{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#row-check{
    margin-left: auto;
    margin-right: auto;
}

form p{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#btn-formreserv{
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

#div-btnreserv{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

/*======LIST ARTICLE PAGE========*/

#art-content{
    font-family: "Montserrat", sans-serif;
}

#div-art{
    color: white;
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.97;
    min-height: 100%;
}

/*========ARTICLE PAGE===========*/

.art-content-para{
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.97;
    min-height: 100%;
}

.para-article{

    font-size: 1.2rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8rem;
}

.div-para{
    margin-left: auto;
    margin-right: auto;
}

.title-para{
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.div-para img{
    width: 100%;
    margin-top: 6rem;
}

.para-intro-article{
    font-size: 1.2rem;
    width: 80%;
    margin-top: 3rem;
}

.div-para .row{
    margin-bottom: 3rem;
}

.div-para a{
    position: absolute;
    margin-top: 5rem;
    text-decoration: none;
}

.div-para a:hover{
    background-color: #000;
}

.row-intro{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}